<!--添加帐户页-->
<div id="paymentType"></div>
<div class="location font-t1"><span class="cityName">漠河</span></div>
<div id="canNotUse">
    <p id="payNoUse" class="font-h2"><span class="cityName">漠河</span>目前还不支持缴<span id="payType"></span></p>
    <p id="changeCity">切换城市</p>
    <div class="areaBlock">
        <div class="area"></div>
    </div>
</div>
<div id="canUse">
    <div id="cusSelect">
        <span class="selTitle font-t1">缴费单位</span>
        <div class="selCont font-h2">上海燃气(集团)有限公司</div>
        <span class="selIcon"></span>
    </div>
    <div id="cusSelectCont">
        <!--自定义select的内容-->
    </div>
    <div id="inputName" class="cusInput">
        <span class="inputTitle font-t1">户号</span>
        <input type="text" placeholder="户号" class="textInput font-h2">
    </div>
    <p class="font-t1 quesP">如何知道户号<span class="questionIcon"></span></p>
    <!--<div id="barCode" class="cusInput">-->
        <!--<span class="inputTitle font-t1">条形码</span>-->
        <!--<input type="text" placeholder="条形码" class="textInput font-h2">-->
    <!--</div>-->
    <!--<p class="font-t1 quesP">如何知道条形码<span class="questionIcon"></span></p>-->
    <!--<div id="billMoney" class="cusInput">-->
        <!--<span class="inputTitle font-t1">账单金额</span>-->
        <!--<input type="text" placeholder="账单金额" class="textInput font-h2">-->
    <!--</div>-->
    <!--<p class="font-t1 quesP">输入需要缴费的账单金额</p>-->
    <div class="checkBtnBlock"> <div id="checkBtn" class="normal-button-block">查询</div></div>
    <p class="btnNotes font-t2">轻触"查询"表示您已同意<span class="oneId">《一账通自助缴费协议》</span></p>
</div>