<p class="payListTitle font-t1">缴费记录</p>
<div class="payListCont">
    <div class="onePayList sPayType">
        <p class="payName font-d3">水费</p>
        <p class="payAccount font-h2">038172484ß</p>
    </div>
    <div class="onePayList dPayType">
        <p class="payName font-d3">电费</p>
        <p class="payAccount font-h2">038172484ß</p>
    </div>
    <div class="onePayList qPayType">
        <p class="payName font-d3">燃气费</p>
        <p class="payAccount font-h2">038172484ß</p>
    </div>
</div>
<div id="addMoreAccount">
    <p class="moreAccountTitle font-h2">添加更多缴费帐户</p>
    <div class="moreAccountList">
        <div class="accountList sListType">
            <p class="font-h2">水费</p>
        </div>
        <div class="accountList dListType">
            <p class="font-h2">电费</p>
        </div>
        <div class="accountList qListType">
            <p class="font-h2">燃气费</p>
        </div>
    </div>
</div>