<div class="serviceCont">
<p class="font-h3 serP1">本协议是深圳平安金融科技咨询有限公司一账通APP（以下简称“一账通”）与您就自助生活缴费服务的使用等相关事项所订立的有效合约。请您仔细阅读本协议（特别是以粗体下划线标注的内容），如果您对本协议的条款有疑问，请通过一账通客服渠道进行询问，一账通将向您解释条款内容。<br/>
    如果您不同意本协议的任意内容，或者无法准确理解一账通对条款的解释，请不要进行后续操作。您通过一账通相关页面点击确认或以其他方式选择接受本协议，即表示您同意接受本协议的全部内容。</p>
<h2 class="font-h2 serP11">一. 您的权利与义务</h2>
<p class="font-h3 serP2"><span>1.</span>您自愿申请使用一账通自助生活缴费服务对本服务如有疑问、建议或意见时，可拨打一账通客服电话:<b class="colorB">95511</b>转<b class="colorB">4</b>转<b class="colorB">8</b>或登录一账通网站<b class="colorB">one.pingan.com</b>进行咨询和投诉。</p>
<p class="font-h3 serP3"><span>(1)</span>使用本服务后，您还可在相关页面开通电子账单订阅服务，设置您的各类电子账单信息（以下称“账单信息”），一账通将根据您设置的账单信息向您的一账通账户推送账单数据，具体服务内容以一账通页面告知的内容为准。若您不想继续使用该服务，可随时通过相关途径取消。</p>
<p class="font-h3 serP2"><span>2.</span>您使用本服务时实施的所有行为均应当遵守国家法律、法规和各种社会公共利益或公共道德，并且遵守包括但不限于本协议相关的规则及各家银行的相关业务条款。</p>
<p class="font-h3 serP2"><span>3.</span>您使用本服务应当通过一账通网站、客户端或合作银行网站，以及一账通告知特定方式链接登录。</p>
<p class="font-h3 serP2"><span>4.</span>您保证使用本服务过程中提供的资料真实、准确、完整、有效。<b class="underLine">一账通按照您设置的相关信息为您提供相应服务，对于因您提供信息不真实或不完整所造成的损失由您自行承担。</b></p>
<p class="font-h3 serP3"><span>(1)</span>您确保正确填写账单信息，并且妥善保管预留信息，除使用本服务外，不要向任何其他人、其他网站、电话或短信的问询提供预留的信息内容。如您对账单信息内容有疑问的，请自行联系相关机构单位。一旦您使用本协议约定服务，且通过系统发送相应指令的，不论本协议是否终止，基于该指令所涉及的款项和费用不予退回。</p>
<p class="font-h3 serP3"><span>(2)</span><b class="underLine">如您使用的是他人的一账通账户，请确保得到授权后再进行账单信息设置，否则因此给第三人或一账通造成的任何损失，均由您自行承担。</b></p>
<p class="font-h3 serP2"><span>5.</span>您保证使用本服务过程中使用的银行卡为您本人所有或者已经得到持卡人有效授权，否则因此导致的责任均由您自行承担。一旦您点击确认支付，亦不得要求变更或撤销该指令。</p>
<h2 class="font-h2 serP11">二.差错处理</h2>
<p class="font-h3 serP1 padding4">由于您未按规定操作，或者您自身其他原因造成缴费指令未执行、未适当执行、延迟执行的，应及时通过拨打客服电话：95511转4转8或通过在线客服通知一账通。一账通应积极调查并告知您调查结果。由于您未按规定操作，或者您自身其他原因造成缴费指令未执行、未适当执行、延迟执行的，应及时通过拨打客服电话：95511转4转8或通过在线客服通知一账通。一账通应积极调查并告知您调查结果。</p>
</div>