#continueToTask{
    margin:0;
    padding:4.2rem 0;
    width: 100%;
    height: 100%;
    background:url(images/bg1.png);

}
.continueTask{
    width: 10rem;
    height: 15rem;
    background: #FFF5DB;
    border: 2px solid #FFAE0B;
    border-radius: 0.3rem;
    margin: 0 auto;

}
#continueToTask .detail{
    font-size: 0.4rem;
    color: #947554;
    text-align: center;
    margin-bottom: 0.6rem;
}
#continueToTask .reminder{
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #671C02;
}
#continueToTask span{
    color: red;
    text-align: center;
}
#continueToTask h3{
    font-size: 0.5rem;
    color: #947554;
    text-align: center;
    margin:0.5rem auto;

}
#continueToTask .taskBtn{
    float: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
#continueToTask .recordBtn{
    float: left;
    margin-left: 0.7rem;
    margin-top: 0.5rem;
}
#continueToTask .recommendBox {
    width: 9rem;
    height: 3.2rem;
    background-color: #F5E4B9;
    margin: 2.5rem auto;
    border-radius: 0.3rem;
}
#continueToTask .footerPic {
    float: left;
}
#continueToTask .bot-fel-mend{
    font-size: 0.5rem;
    color: #624220;
    position: relative;
    top: 0.5rem;

}
#continueToTask .bot-fel-recomm{
    font-size: 0.4rem;
    position: relative;
    top: 0.7rem;
    left: 0.3rem;
    color: #947554;
}
#continueToTask .recommend{
    width: 4rem;
    height: 1rem;
    background-color: #29CFBD;
    color: white;
    margin-top: 1rem;
    margin-left: -0.5rem;
    border-radius: 3rem;
    font-size: 0.4rem;
    line-height: 1rem;
    float: left;
    text-align: center;
}
#continueToTask .clickCopy {
    font-size: 0.5rem;
    float: left;
    margin-top: 1.2rem;
    margin-left: 0.2rem;

}