@import url('reset.css');
@import url('index.css');
@import url('variety.css');
@import url('animation.css');
@import url('toast.css');
@import url('hack.css');
@import url('Record.css');
@import url('myPrize.css');
@import url('hack.css');
@import url('mainPage.css');
@import url('draw.css');
@import url('continueToTask.css');


