body,html{
    padding: 0;
    margin: 0;
    border: 0;
}

.page-feil{
    background: url("images/Record.png");
    background-size: 100% 100%;
    height: 24rem;
    width: 12rem;
}

.h-head{
    width: 5.616rem;
    height: 2.256rem;
    margin: 0 auto;
}
.h-record{
    position: relative;
    font-size: 0.95rem;
    text-align: center;
    margin-left: 2rem;
    top: 0.3rem;
    color: #624220;
    width: 3.824rem;
    height: 1.728rem;
}
.h-page-m{
    height: 21.696rem;
    width: 11.984rem;
    position: fixed;
    /*display: none;*/
}
.h-bagan{
    background: url("images/explain.png");
    background-size: 100% 100%;
    width: 1.707rem;
    height: 1.707rem;
    position: relative;
    top: 1.8rem;
}

.p-head-bot{
    width: 11.04rem;
    height: 4.62rem;
    background: #f5e4b9;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 0.2rem;
}
.p-head-bot-cen{
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    top: -2.7rem;
    line-height: 1rem;
    color: #624220;
    width: 4.8rem;
    margin: 0 auto;
    height: 3.36rem;
}
.red{
    color: #ff0000;
}
/*抽奖码*/
.p-center{
    margin-top: 0.7rem;
}
.cen-draw{
    font-size: 0.8rem;
    text-align: center;
    color: #624220;
    height: 0.528rem;
    width: 4.944rem;
    margin: 0 auto;
}
.cen-draw-s{
    height: 4.824rem;
    width: 5.28rem;
    border-radius: 1rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}
.cen-draw-c{
    margin-top: 0.6rem;
}
.cen-draw-i{
    width:100%;;
    height: 2.88rem;
    border-radius: 0.3rem 0.3rem 0 0;
}
.cen-draw-i img{
    width: 100%;;
    height: 2.88rem;
    border-radius: 0.3rem 0.3rem 0 0;
}
.cen-draw-text{
    width: 100%;
    height: 1.872rem;
    background: #e9d8af;
    border-radius: 0 0 0.3rem 0.3rem;
    text-align: center;
    color: #624220;
    font-weight: bold;
    line-height: 1rem;
}
.cen-draw-code{
    position: relative;
    font-size: 0.4rem;
}
.cen-draw-y-n{
    position: relative;
    top: -0.3rem;
    font-size: 0.4rem;
}
@media only screen and (max-width:320px) and (max-height: 568px){
    .cen-draw-code{
        position: relative;
        font-size: 1rem;
    }
    .cen-draw-y-n{
        position: relative;
        font-size: 1.1rem;
    }
}
.p-head-t{
    background: url("images/Coins.png");
    background-size: 100% 100%;
    width: 2.592rem;
    height: 3.456rem;
    position: relative;
    top: 0.7rem;
}

.p-feil{
    float: left;
    margin-left: 1rem;
}


/*奖品领取*/
html,body{
    padding: 0;
    margin: 0;
    border: 0;
}

/*.p-page{*/
   /*z-index: 999;*/
/*}*/

.cody{
    border: none;
    width: 92%;
    height: 0.896rem;
    font-size: 0.7rem;
    position: relative;
    float: left;
    top: -0.8rem;
    left: 0.4rem;
}

.p-cody{
    font-size: 1.5rem;
}
.p-from{
    position: relative;
    top: -13rem;

    height: 13.956rem;
}
.p-from-codephop{
    position: relative;top: 2.3rem;
}
.p-from-varcode{
    position: relative;top: 1rem;
}
.p-from-sim{
    text-align: center;
    height: 2.096rem;
    position: relative;
    margin-top: 1rem;
    width: 11.472rem;
    margin: 0 auto;
}
.p-bottom{
    width: 11.47rem;
    height: 0.3rem;
    border-bottom: 0.033rem solid #DEDBDB;
    position: relative;
    border-right: 0.033rem solid #DEDBDB;
    border-left: 0.033rem solid #DEDBDB;
}
.cody-cd{
    width: 3.104rem;
    height: 0.864rem;
    position: absolute;
    top: 1rem;
    left: 8rem;
    line-height: 0.864rem;
    background: #F98412;
    color: #fff;
    font-size: 0.5rem;
}
.cody-verification{
    border: none;
    width: 4.526rem;
    height: 1.7rem;
    font-size: 0.7rem;
    position: relative;
    left: -26%;
    top: 0.5rem;
}
.p-page-sibmit{
    height: 2.816rem;
    width: 2.816rem;
    border: 2px solid #F98412;
    border-radius: 5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.6rem;
    position: relative;
    top: 1.5rem;
}
.simt-tur{
    width: 2.5rem;
    text-align: center;
    position: relative;
    top: 0.6rem;
    color: #F98412;
    margin: 0 auto;
    font-size: 0.9rem;
}

/*.p-page{*/
    /*display: none;*/
    /*position: fixed;*/
/*}*/


/*收货信息页面*/
  .content-fetchCaptcha{
      position: relative;
      width: 4rem;
      height: 1.3rem;
      left: 7rem;
      top: -1rem;
      background-size: cover;
      background: #ffae0b;
      font-size: 0.7rem;
      color: #fff;
      text-align: center;
      line-height: 1.3rem;
  }
.info-page{
    display:none;
    position:absolute;
    background: #ffffff;
    height: 18.627rem;
    width: 12rem;
    top: 3rem;
}

.btn-back{
    position: fixed;
    width: 1rem;
    height:1rem;
    top:1rem;
    left:1rem;
    /*background: url("../img/back.png") no-repeat;*/
    background-size: cover;
    z-index:6;
}

.info-title{
    height:1rem;
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
}
.info-content{
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: 4rem;
}
.input-box{
    width: 12rem;
    height: 2rem;
    margin-left: 5rem;
}

.input-box.name-content{
    position: relative;
    top:1rem;
}

.input-box.addr-content{
    position: relative;
    top:1rem;
}

.input-box.cre-content{
    position: relative;
    top:1rem;
}

.input-box.phone-content{
    position: relative;
    top:1rem;
}

.input-box.code-content{
    position: relative;
    top:1rem;
}

.info-bottom-line{
    width: 11rem;
    height: 0.2rem;
    border: solid;
    border-width: 0 0.04rem 0.04rem 0.04rem;
    border-color: rgb(221,221,221);
    z-index: 100;
    margin-top: 0.2rem;
    position: relative;
    left: -4.5rem;
}

.error-tip{
    visibility: hidden;
    width: 0rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
    /* text-indent: -4rem; */
    color: #ff9002;
    position: relative;
    left: -4rem;
    top: -0.3rem;
}

s.content-input {
    margin-left: -4rem;
    font-size: 0.6rem;
    border: 3rem;
    outline-width: 0;
    width: 10rem;
}

.content-input.content-input-code{
    width:4rem;
}
.content-cancel{
    display: none;
    background-size: cover;
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    float: right;
}
.code-content > .content-cancel{
    margin-right:1rem;
}

.btn-confirm-submit{
    border: 0.1rem solid;
    border-color: rgb(255,144,2);
    position: relative;
    top: 6.3rem;
    left: 4rem;
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 1rem;
    border-radius: 2rem;
    background: rgb(255,238,218);
    text-align: center;
    z-index: 66;
}

.confirm-text{
    position: relative;
    top: 0.5rem;
    left: 0.1rem;
    line-height: 1rem;
    font-size: 1rem;
    color: rgb(255,109,0);
}



.p-page-down-two{
    display: none;
    width: 1rem;
    height:1rem;
}
.p-page-background{
    width:1rem;
    height:1rem;
    background-size:cover;
    position: relative;
    left: 1rem;
}

.x-hide{
    background: url("images/dlelte.png");
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
    float: right;
    position: relative;
    top: 0rem;
    left: -0.5rem;
z-index: 9;

}

.sibemit{
    background: #ffae0b;
    width: 3.68rem;
    height: 1.28rem;
    border-radius: 1rem;
    color: #671c02;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.28rem;
    margin-top: -2rem;
    margin-left: 0.7rem;
    z-index: 9;
    position: fixed;
    /* display: none; */
}
.sibemitNo{
    background: #ffae0b;
    width: 3.68rem;
    height: 1.28rem;
    border-radius: 1rem;
    color: #671c02;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.28rem;
    margin-top: -2rem;
    margin-left: 0.7rem;
    z-index: 9;
    position: fixed;
}
.p-head-w{
    margin-top: 0.5rem;
}
.main_succcess{
    display: none;
    width: 3rem;
    height: 3rem;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4rem;
    background: #464646;
    border-radius: 0.4rem;
    color: #fff;
    position: relative;
    top: -4rem;
    left: 4rem;
}

.main_succcess_s{
    position: fixed;
    z-index: 999;
}
/*.p-page-main{*/
    /*background: #fff;*/
    /*height: 18.627rem;*/
    /*width:100%;width: 12rem;*/
/*}*/

.p-main-fell{
    height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.p-recode-ro{
    font-size: 0.97rem;
    text-align: center;
    margin-bottom: 0.9rem;
    position: relative;
    top: 0.5rem;
}

.p-recode-rt{
    font-size: 0.5rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
}
.p-recode-rte{
    font-size: 0.66rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
}
.sim-cody{
    position: relative;
    top: 0.3rem;
}

/*.p-page{*/
    /*position:relative;*/
    /*top:-24rem;*/
/*}*/

.dsn{
    font-size: 0.5rem;
    width: 5.5rem;
    position: relative;
    top: 0rem;
    left: -4rem;
}
.dsim{
    font-size: 0.5rem;
    width: 4rem;
    position: relative;
    left: -4rem;
    top: 0rem;
}

.sim-color{
 display: none;
    color: red;
}
.sim-colorph{
    color: red;
    display: none;
}
.p-bottom-null{
    font-size: 0.5rem;
    width: 6rem;
    color: red;
    height: 0.1rem;
    display: none;
}
.p-bottom-null-name{
    position: relative;
    top: 0rem;
    left: -4rem;
}
.p-bottom-null-code{
    position: relative;
    top: 0.1rem;
    left: -4rem;
}
.p-bottom-null-rie{
    position: relative;
    top: 0rem;
    left: -4rem;
}
.p-bottom-null-phon{
    position: relative;
    top: 0rem;
    left: -4rem;
}
/*.p-bottom-null-verif{*/
    /*position: relative;*/
    /*top: 0.2rem;*/
    /*left: -0.2rem;*/
/*}*/
.p-bottom-null-size{
    /*display: block;*/
    position: relative;
    left: -4rem;
}
.bot-fixed-on{
    position: fixed;
    width: 12rem;
    z-index: 9;
}
.bot-fixed {
    height: 4.56rem;
    width: 12rem;
    background: #6f5239;
    position: relative;
    top: 6.3rem;
    opacity: 0.4;
    z-index: 9;
}

.bot-fixed-ts{
    font-size: 0.45rem;
    height: 2rem;
    width: 8.5rem;
    position: relative;
    top: 0rem;
    left: 2.6rem;
    color: #ffffff;
    line-height: 0.6rem;
}
.bot-fixed-img{
    position: relative;
    top: 2rem;
    left: 0.2rem;
    width: 2rem;
}
.bot-hide{
    float: right;
    position: relative;
    top: -2.6rem;
    left: -0.3rem;
}
.bot-fixed-col{
    color: #ffe339;

}
.bot-fixed-botton{
    height: 1.168rem;
    width: 4.16rem;
    background: #ff6000;
    border-radius: 1rem;
    line-height: 1.168rem;
    text-align: center;
    margin-top: 0.5rem;
}

.bot-fixed-botton a{
    color: #ffffff;
    text-decoration:none;
}









