<div class="guide_back"></div>
<div class="guide_close"></div>
<div class="banner_add"></div>
<p class="banner_text font-t1">查违章 送红酒 抢50元京东卡抽iPhone6s</p>
<div class="banner_attend font-h2">我要参加</div>
<div class="recom_banner"></div>
<p class="banner_font font-t1">注册时需要填写您的推荐码</p>
<div id="recom_banner_btn" class="recom_banner_btn font-h3">推荐码 <input type="text" id="bannerReCodeNo" class="font-h2" value="233945" /></div>
<div class="trailer_bg">
    <p class="font-t1" id="bannerText">预告：5月份有赢bigbang演唱会门票活动，敬请期待</p>
</div>