<div class="continueTask">
    <div class="detail">
        <div class="reminder">您的领取抽奖码机会已用完!</div>
        <h3>做任务，赢抽奖码攻略！</h3>
        <p>1.做任务越多，获得抽奖码越多；</p>
        <p>2.抽奖码越多，中奖机率越大；</p>
        <p>3.每完成一个任务，均可获得一次抽奖机会；</p>
        <p>完成<span>3</span>个任务，可获得额外的<span>2次</span>奖励；</p>
        <p>完成<span>6</span>个任务，可获得额外的<span>3次</span>奖励；</p>
        <p>完成<span>9</span>个任务，可获得额外的<span>5次</span>奖励；</p>
        <p>完成的任务越多,再获得正常的抽奖机会的同时,</br></p>
        <p>还有更多的额外机会的奖励</p>
    </div>
    <div class="task">
        <div class="taskBtn">
            <img src="style/images/continuetask.png" style="width: 3rem">
        </div>
        <div class="recordBtn" id="recordBtn" >
            <img src="style/images/myrecord.png" style="width: 2rem">
        </div>
    </div>
    <div class="recommendBox">
        <div class="footerPic">
            <img src="style/images/hand.png" style="width: 1.5rem">
        </div>
        <div class="bot-fel-mend">推荐好友注册，拿超级推荐奖励</div>
        <div class="bot-fel-recomm">注册时需要填写你的推荐码</div>
        <div class="content">
            <div class="recommend" style="color: white">推荐码 362637</div>
            <div class="clickCopy" style="color: #339F94">&lt;点击复制</div>
        </div>

    </div>
</div>