<div class="drawCodePage" id="drawPage">
    <div id="closedraw">
        <img src="style/images/close.png" style="width: 0.8rem;margin:0.3rem 0 0 10.7rem" />
    </div>
    <header class="header">
        <div><p class="header1">您参与了XX奖品的抽奖活动</p></div>
        <div class="header2">您抽奖的号码是: <span style="color: red;font-size: 0.4rem">453427</span></div>
    </header>
    <div class="recordBtn"id="recordBotton" ></div>
    <div class="detail">
        <div class="reminder">目前你有&nbsp<span style="color: red">2</span>&nbsp次领取机会</div>
        <h3>做任务，赢抽奖码攻略！</h3>
        <p>1.做任务越多，获得抽奖码越多；</p>
        <p>2.抽奖码越多，中奖机率越大；</p>
        <p>3.每完成一个任务，均可获得一次抽奖机会；</p>
        <p>完成<span>3</span>个任务，可获得额外的<span>2次</span>奖励；</p>
        <p>完成<span>6</span>个任务，可获得额外的<span>3次</span>奖励；</p>
        <p>完成<span>9</span>个任务，可获得额外的<span>5次</span>奖励；</p>
        <p>完成的任务越多,再获得正常的抽奖机会的同时,</br></p>
        <p>还有更多的额外机会的奖励</p>
    </div>
    <div class="task1" id="task1"></div>
    <div class="bottomBox">
        <div class="recommendBox">
            <div class="footerPic">
                <img src="style/images/hand.png" style="width: 2rem">
            </div>
            <div class="bot-fel-mend">推荐好友注册，拿超级推荐奖励</div>
            <div class="bot-fel-recomm">注册时需要填写你的推荐码</div>
            <div class="recommend">推荐码 <input type="text" id="guideReCodeNo" class="font-h2" value="233945" />
        </div>
    </div>


</div>