<div class="guide_back"></div>
<div class="guide_close"></div>
<div class="guide_money"></div>
<p class="guide_recom_text font-h2">一账通——您专属综合金融智能管家,让<br/>您轻松实现一站式账户管理和资产透视<br/>点击<span class="guide_red">立即下载</span>，百兆流量天天领</p>
<div class="guide_submit font-h2">立即下载</div>
<p class="guide_skip font-h2">如您已下载一账通<br/><span class="guide_skip_span">请直接点击跳过</span></p>
<div class="guide_recom">
    <div class="recom_text font-h3">
        <p class="recom_font1">推荐好友注册,拿超级推荐奖励</p>
        <p class="recom_font2">注册时需要填写您的推荐码</p>
    </div>
    <div class="recom_btn guide_recom_btn font-h3">推荐码 <input type="text" id="guideReCodeNo" class="font-h2" value="233945" /></div>
</div>