<section class="bodyWrap" id="bodyWrap">

    <div class="headPic">
        <div class="rightPic"></div>
        <img src="style/images/headPic.png" >
    </div>

    <div class="guild">
        <div class="guildContent">做任务&nbsp<span style="color:#FFAE0B">&gt;</span>&nbsp获得抽奖机会&nbsp
            <span style="color:#FFAE0B">&gt;</span>
        </div>
        <div class="guildPic">
            <img src="style/images/trophy2.png" style="width: 0.4rem">中大奖
        </div>
    </div>

    <div class="reminder">目前你有&nbsp<span style="color: red">2</span>&nbsp次领取机会</div>

    <div class="task">
        <div class="taskBtn">
            <div class="taskBtn1"></div>
            <div class="taskBtn2" id="taskbtn2" type="button" onclick=""><span class="doTask">做任务去</span></div>
        </div>
        <div class="record">
            <div class="recordBtn"id="recordBtn" >我的战绩</div>
        </div>
    </div>

    <div class="contentPic">
        <div class="left">
            <div class="leftPic"></div>
            <div class="Mid">
                <p>已参与的人数 <span>100000</span></p>
                <p>库存数量<span>5432</span></p>
                <p>剩余时间<span id="time">02:45:00</span></p>
            </div>
            <div class="Bottom">中奖号码<span id="leftBottom">384921</span></div>
            <div class="leftbtn">
                <span id="drawcode">领取抽奖码</span>
            </div>
        </div>
        <div class="right">
            <div class="rightPic"></div>
            <div class="Mid">
                <p>已参与的人数 <span>100000</span></p>
                <p>库存数量<span>5432</span></p>
                <p>剩余时间<span id="time2">02:45:00</span></p>
            </div>
            <div class="Bottom">中奖号码公布区</div>
            <div class="rightbtn">
                <span id="drawcode2">领取抽奖码</span>
            </div>
        </div>
    </div>
    <!--<div class="bottomContent">-->
        <!--<div class="leftbtn">-->
            <!--<span id="drawcode" >领取抽奖码</span>-->
        <!--</div>-->
        <!--<div class="rightbtn">-->
            <!--<span id="drawcode2">领取抽奖码</span>-->
        <!--</div>-->
    <!--</div>-->

</section>

<div class="mainHideOption"></div>

<section >
<div class="continueTask">
    <div id="backmain">
        <img src="style/images/close.png" style="width: 0.8rem;margin-left:9rem" />
    </div>
    <div class="fontContent">
        <div class="wordContent">您的领取抽奖码机会已用完!</div>
        <h3>做任务，赢抽奖码攻略！</h3>
        <p>1.做任务越多，获得抽奖码越多；</p>
        <p>2.抽奖码越多，中奖机率越大；</p>
        <p>3.每完成一个任务，均可获得一次抽奖机会；</p>
        <p>完成<span class="word">3</span>个任务，可获得额外的<span class="word">2次</span>奖励；</p>
        <p>完成<span class="word">6</span>个任务，可获得额外的<span class="word">3次</span>奖励；</p>
        <p>完成<span class="word">9</span>个任务，可获得额外的<span class="word">5次</span>奖励；</p>
        <p>完成的任务越多,再获得正常的抽奖机会的同时,</br></p>
        <p>还有更多的额外机会的奖励</p>
    </div>
    <div class="task">
        <div class="taskBtn" id="mytaskbtn">
            <img src="style/images/continuetask.png" style="width: 3rem">
        </div>
        <div class="recordBtn" id="myrecordbtn" >
            <img src="style/images/myrecord.png" style="width: 2.5rem">
        </div>
    </div>
    <div class="recommendBox">
        <div class="footerPic">
            <img src="style/images/hand.png" style="width: 1.5rem">
        </div>
        <div class="bot-fel-mend">推荐好友注册，拿超级推荐奖励</div>
        <div class="bot-fel-recomm">注册时需要填写你的推荐码</div>
        <div class="recommend">推荐码 <input type="text" id="guideReCodeNo" class="font-h2" value="233945" />
    </div>
</div>
</section>