<div class="p-main-prize">
    <div class="pr-header">
        <div class="pr-left"></div>
        <div class="pr-center"></div>
    </div>
<div class="pr-cen-cls">
          <div class="pr-guild">
              <div class="pr-guildContent">做任务&nbsp&nbsp<span style="color:#FFAE0B">&gt;</span>&nbsp&nbsp获得抽奖机会&nbsp&nbsp
                  <span style="color:#FFAE0B">&gt;</span>
              </div>
              <div class="pr-guildPic">
                  <img class="img" src="style/images/trophy.jpg">中大奖
              </div>
      </div>
    <div class="pr-cenclose">
        <div class="pr-gerr">点击以下活动链接立即参加</div>
        <div><img class="foot-img" src="style/images/f_sle.png"/> </div>
    </div>
</div>
<div>
    <div class="pr-banner" id="pr-banner"><img src="style/images/p3.2.1.png"></div>
    <div class="pr-banner"></div>
    <div class="pr-banner"></div>

</div>
</div>


<div class="x-hide-option"></div>


<section>
    <div class="p-Popup" id="p-Popup">
        <div class="x-hide-clos"></div>
             <div class="p-Popup-img">
                 <img src="style/images/explain.png" style="width: 3rem;"/>
             </div>
            <div class="p-pop-t">
                <div class="p-pop-lucky">恭喜你获得1次领取抽奖码机会</div>
                <div class="p-pop-receive">目前你有n次领取机会</div>
                <div class="p-pop-reward">继续完成多个任务,可获得额外机会奖励</div>
            </div>

           <div class="p-pop-bt">
               <div class="p-pop-bt-popup" id="p-pop-bt-popup">我要去抽奖</div>
               <div class="p-pop-bt-reward" id="reward">继续做任务</div>
           </div>
        
        <div class="p-pop-back">
            <div class="p-pop-back-cl">
                <div class="p-pop-Zambia"><img class="p-pop-Zambia-img" src="style/images/Zambia.png"></div>
                <div class="p-pop-back-fl">
                    <div class="p-pop-sibmit">推荐好友注册,拿起超级推荐奖励</div>
                    <div class="p-pop-rem-code">注册时需要填写你的推荐码</div>
                </div>
            </div>
        </div>
        <div class="p-pop-remm-c">
            <div class="p-pop-remm-le">推荐码<label>362637</label></div>
            <div class="p-pop-remm-rl">&lt;	点击复制</div>
        </div>
    </div>

</section>