<div class="page-feil" xmlns="http://www.w3.org/1999/html">
    <div class="h-page-m">
    <header style="width: 100%;height: 40%;">
        <div class="h-head">
            <div class="h-bagan"></div>
            <div class="h-record">我的战绩</div>
        </div>

        <div class="p-head-bot">
            <div class="p-head-t"></div>
            <div class="p-head-bot-cen">
                <div class="p-head-flow">我共获得了：</div>
                <div class="p-head-w"><label class="red" id="newReward">50</label>兆流量</div>
                <!--<div class="p-head-red"><label class="red" id="red">30</label>元现金红包</div>-->
            </div>
        </div>
    </header>

    <div class="p-center">

        <div class="cen-draw">我的抽奖码</div>
        <div class="cen-draw-c" id="recordList">
            <!--<div class="cen-draw-s">-->
                <!--<div class="cen-draw-i"><img src="../newGift/style/images/p3.2.1.png"/> </div>-->
                <!--<div class="sibemit" id="sibemit">领取奖品</div>-->

                <!--<div class="cen-draw-text">-->
                    <!--<div class="cen-draw-code"><label class="p-feil">抽奖码</label> <label id="Idcody">445656</label></div>-->
                    <!--<div class="cen-draw-y-n"><label class="p-feil">是否中奖</label> <label id="NoweCody">是</label></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="cen-draw-s">-->
                <!--<div class="cen-draw-i"><img src="../newGift/style/images/p3.2.1.png"/> </div>-->
                <!--<div class="cen-draw-text">-->
                    <!--<div class="cen-draw-code"><label class="p-feil">抽奖码</label> <label id="Idcody">445656</label></div>-->
                    <!--<div class="cen-draw-y-n"><label class="p-feil">是否中奖</label> <label id="NoweCody">未开奖</label></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

<div class="bot-fixed-f">
        <div class="bot-fixed">
        </div>
            <div class="bot-fixed-on">
                <div class="bot-fixed-img"><img src="../newGift/style/images/yztapp.png" style="width:2rem;"></div>
                <div class="bot-fixed-ts">一账通 — 您专属综合金融智能管家<br/>让您轻松实现一站式账户管理和资产透视
                    <div class="bot-fixed-col">点击立即下载，百兆流量天天领</div>
                    <div class="bot-fixed-botton">
                        <a href="http://m.pingan.com/c2/sys/tuiguang/weixin/index.html?app=yzt-wtg10">立即下载</a></div>
                </div>
                <div class="bot-hide"><img src="../newGift/style/images/dlelte.png" style="width:0.6rem;"></div>
            </div>
</div>



</div>
</div>


<section id="info-page" class="p-page info-page">
    <form class="index" autocomplete="off" method="post" id="convertForm">
    <!--最顶部的箭头符 str-->
    <div class="p-main-fell">
        <div class="x-hide" id="x-hide"></div>
        <div class="p-recode-ro">奖品领取</div>
        <div class="p-recode-rt">您领取到的奖品，将于活动结束后7天完成寄送</div>
        <div class="p-recode-rte">请输入您的收货信息</div>
    </div>
    <div class="info-content">
        <div class="name-content input-box">
            <div class="content-cancel" id="content-cancel-name"></div>
            <input class="content-input" id="name" type="text" placeholder="姓名"/>
            <div class="info-bottom-line" id="info-bottom-line-name"></div>
            <div class="p-bottom-null p-bottom-null-name" id="bot-Nonull">姓名不能为空</div>
            <div class="p-bottom-null p-bottom-null-size" id="bot-Nonull">姓名不能超过5个字符</div>
        </div>
        <div class="addr-content input-box">
            <div class="content-cancel"></div>
            <input id="address" class="content-input" type="text" placeholder="收货地址" maxlength="100"/>
            <div class="info-bottom-line"></div>
            <div class="p-bottom-null p-bottom-null-code" id="bot-Nonull">收货地址不能为空</div>
        </div>
        <div class="cre-content input-box">
            <div class="content-cancel"></div>
            <input id="cardId" class="content-input" type="text" placeholder="身份证" value="522635198708184662"/>
            <div class="info-bottom-line"></div>
            <div id="tel-sim" class="dsim sim-color">身份证格式不正确</div>
            <div class="p-bottom-null p-bottom-null-rie" id="bot-Nonull">身份证号码不能为空</div>
       </div>
        <div class="phone-content input-box">
            <div class="content-cancel" id="content-cancel-mobileno"></div>
            <input id="mobaileNo" class="content-input" type="tel" placeholder="手机号码" value="13578921327"/>
            <div class="info-bottom-line" id="info-bottom-line-mobileno"></div>
            <div id="tel-tip" class="dsn sim-colorph">手机输入不符合规范</div>
            <div class="p-bottom-null p-bottom-null-phon" id="bot-Nonull">手机号码不能为空</div>
        </div>
        </div>
        <div id="p-page-sibmit" class="btn-confirm-submit">
        <div class="simt-tur">确认<br/>提交</div>
        </div>

   </form>
    <div class="main_succcess_s">
       <div class="main_succcess">提交成功</div>
    </div>
    </section>