body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p,article, aside,footer, header,nav, section{margin: 0px;padding: 0px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-appearance: none;outline: none;word-break: break-all;box-sizing: border-box;-webkit-box-sizing: border-box;-webkit-overflow-scrolling: touch;-webkit-user-select:none;user-select:none;}
body{min-height: 100%;font-size: 14px;background-color: #fff;-webkit-text-size-adjust: none;display:block;}
.tac{text-align:center;}
a{color:#999;text-decoration:none}
a:hover,a:focus{text-decoration:none;outline:0}
a img{border:0}
.dsn{ display:none;}
.dst{ display:table;}
html{height:100%;}
@media only screen and (min-width: 320px){html{font-size: 20px !important;}}
@media only screen and (min-width: 350px){html{font-size: 22px !important;}}
@media only screen and (min-width: 365px){html{font-size: 23px !important;}}
@media only screen and (min-width: 375px){html{font-size: 24px !important;}}
@media only screen and (min-width: 390px){html{font-size: 25px !important;}}
@media only screen and (min-width: 400px){html{font-size: 26px !important;}}
@media only screen and (min-width: 428px){html{font-size: 27px !important;}}
@media only screen and (min-width: 432px){html{font-size: 28px !important;}}
@media only screen and (min-width: 481px){html{font-size: 30px !important;}}
@media only screen and (min-width: 569px){html{font-size: 35px !important;}}
@media only screen and (min-width: 569px){html{font-size: 40px !important;}}